extends common/content-page

block page-name 
    | 404 Error

block page-content 
    p
        | You found a 404 page! Great job! If you're seeing this unexpectedly, 
        a(href="mailto:raelynn@hattie.email") email me. 