extends common/content-page
include common/styled-links

block page-name 
    | 404 Error

block page-content 
    p
        | You found a 404 page! Great job! If you're seeing this unexpectedly, 
        +link-inline("mailto:raelynn@hattie.email", "email me.")