extends common/content-page

block page-name 
    | Embedded Development

block intro
    p What good is a microcontroller without firmware to run?

block cards
    include projects/thrmal
    include projects/ssd1327
    include projects/weather-station