extends common/layout
include common/section-card

block content 
    h2(class='text-white text-4xl text-center pb-6') I make things.
    //- I really need to rework this intro...
    p(class='text-white text-center px-2 sm:px-32 xl:px-48')
        | Data dashboards. IoT devices. Instrumentation. Halloween decorations. My passion is creation, whether my tools are made of code or carbide.
    div(class='flex flex-wrap justify-center p-4')
        +section-card('/res/thumb_web.png', 'Web Development', '/web')
        +section-card('/res/thumb_embedded.png', 'Embedded Firmware', '/embedded')
        +section-card('/res/thumb_pcb.png', 'PCB Design', '/pcb')
        +section-card('/res/thumb_cnc.png', '3D Printing & CNC', '/printing')
        //- +section-card('/res/thumb_web.png', 'Desktop Development', '/desktop')