html 
    head 
        title Raelynn Hattie
        //- TODO: add the rest of the head (metadata and such)
    body
        link(rel="stylesheet", href="/style.css")
        div(class='absolute min-h-screen inset-x-0 bg-gradient-to-bl from-purple-900 to-gray-900')
            include title
            div(id='swup' class='page-transition-slide')
                block content
        script(src="/js/swup.js") 
        script(src="/js/main.js") 