extends common/content-page

block page-name 
    | PCB Design

block intro
    p To clarify, I design printed circuit boards, not polychlorinated biphenyls. It's important not to get those two mixed up.

block cards
    include common/projects/thrmal
    include common/projects/weather-station