extends common/content-page

block page-name 
    | 3D Printing & CNC

block intro
    p I turn photopolymers and aluminum plates alike into functional prototypes. FDM, SLA, and 3-axis machining are all specialties of mine.

block cards
    include common/projects/thrmal
    include common/projects/weather-station
    include common/projects/thingiverse