extends common/content-page

block page-name 
    | Web Development

block intro
    p Dashboards. GIS tools. Static sites. I build web content that comes in all shapes and sizes.

block cards
    include common/projects/omnimap
    include common/projects/this-site
    include common/projects/dso-203