extends common/content-page

block page-name 
    | Web Development

block intro
    p Dashboards. GIS tools. Static sites. I build web content that comes in all shapes and sizes.

block cards
    include projects/omnimap
    include projects/this-site
    include projects/dso-203
        