extends common/content-page

block page-name 
    | Web Development

block intro
    p Dashboards. GIS tools. Static sites. I build web content that comes in all shapes and sizes.

block cards
    //- Card: Omnimap
    +card-project("Omnimap", "/res/thumb_omnimap.png", "https://python.raelynn.hattie.codes/omnimap")
        p A unified, mobile-friendly, lightweight map of Calgary's road conditions, Plus 15 network, events, and more.
        .grow
        +link-icon("https://python.raelynn.hattie.codes/omnimap", "fas fa-map")
            | Live Site
        +link-icon("https://raelynn.hattie.codes/2019/03/22/omnimap-the-unified-map-for-calgarians-on-the-go/", "fas fa-newspaper")
            | Blog Post
        +link-icon("https://github.com/hexaguin/calgary-omnimap", "fab fa-github")
            | Github Repo
    //- Card: This Site
    +card-project("This Site", "/res/thumb_web.png")
        p
            | This site is made using 
            +link-inline("https://pugjs.org/", "Pug")
            |  and 
            +link-inline("https://tailwindcss.com/", "Tailwind")
            |. For more information, see the full blog post.
        .grow
        +link-icon("https://raelynn.hattie.codes", "fas fa-newspaper")
            | Blog Post
        +link-icon("https://github.com/hexaguin/rh-homepage/", "fab fa-github")
            | Github Repo
    //- Card: DSO203
    +card-project("DSO203 Converter", "/res/thumb_dso.png", "https://python.raelynn.hattie.codes/dso-csv")
        p A simple online tool for converting the slightly wonky CSV files from the DSO203 oscilloscope for use in sigroc.
        .grow
        +link-icon("https://python.raelynn.hattie.codes/dso-csv", "fas fa-external-link-alt")
            | Live Page
        +link-icon("https://raelynn.hattie.codes/2019/02/20/converting-buffer-dumps-from-the-dso203-for-use-in-sigrok-pulseview/", "fas fa-newspaper")
            | Blog Post
        