html 
    head 
        title Raelynn Hattie
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- TODO: add the rest of the head (metadata and such)
    body
        link(rel="stylesheet", href="/style.css")
        <script src="https://kit.fontawesome.com/d7064070d4.js" crossorigin="anonymous"></script>
        div(class='absolute min-h-screen inset-x-0 bg-gradient-to-bl from-purple-900 to-gray-900')
            include title
            div(id='swup' class='page-transition-slide')
                block content
        script(src="/js/swup.js") 
        script(src="/js/main.js") 