//- Main template for the whole site - handles all boilerplate and global tags.

doctype html
html(lang="en")
    head
        title Raelynn Hattie
        meta(name="description", content="Raelynn Hattie - Product Developer, Designer, Maker, Programmer, and Data Scientist")
        meta(property="og:title" content="Raelynn Hattie")
        meta(property="og:description" content="Product Developer, Designer, Maker, Programmer, and Data Scientist")
        meta(property="og:image" content="https://raelynn.hattie.codes/res/logo.png")
        meta(property="og:type" content="website")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="/res/logo.svg")
        link(rel="stylesheet", href="/style.css")
    body
        script(src="https://kit.fontawesome.com/d7064070d4.js" crossorigin="anonymous")
        div(class="absolute min-h-screen inset-x-0 bg-gradient-to-bl from-purple-900 to-gray-900")
            include title
            div(id="swup" class="page-transition-slide")
                block content
        script(src="/js/swup.js") 
        script(src="/js/main.js") 