include ../common/card-project

+card-project("Thingiverse", "/res/thumb_thingiverse.jpg", "https://www.thingiverse.com/rhattie/designs")
    p More assorted models and small projects can be found on my Thingiverse page.
    .grow
    +project-buttons()
        +button("https://www.thingiverse.com/rhattie/designs")
            i(class="fas fa-external-link-alt")
            span  Link