include ../common/card-project

+card-project("THRmAL", "/res/thumb_thrmal.png", "https://raelynn.hattie.codes/blog/2019/01/19/thrmal-a-3d-printed-thermal-viewer-with-300-more-lasers-than-the-leading-brand/")
    p A handheld thermal viewer with a custom PCB, a friction-fit outer shell, and more lasers than you can shake a stick at (assuming said stick can only be shaken at less than four lasers).
    .grow
    +project-buttons()
        +button("https://raelynn.hattie.codes/blog/2019/01/19/thrmal-a-3d-printed-thermal-viewer-with-300-more-lasers-than-the-leading-brand/")
            i(class="fas fa-newspaper")
            span  Article