include ../card-project

+card-project("SSD1327 Arduino Library", "/res/thumb_ssd1327.png", "https://github.com/hexaguin/SSD1327")
    p A low-level Arduino library for controlling the SSD1327 line of OLED drivers.
    .grow
    +project-buttons()
        +button("https://raelynn.hattie.codes/blog/2019/02/02/displaying-live-weather-data-with-my-low-level-ssd1327-library/")
            i(class="fas fa-newspaper")
            span  Article
        +button("https://github.com/hexaguin/SSD1327")
            i(class="fab fa-github")
            span  Github