include ../card-project
include ../styled-links

+card-project("This Site", "/res/thumb_web.png")
    p
        | This site is made using 
        +link-inline("https://pugjs.org/", "Pug")
        |  and 
        +link-inline("https://tailwindcss.com/", "Tailwind")
        |. For more information, see the full blog post.
    .grow
    +project-buttons([
        {"name":"Article", "icon":"fas fa-newspaper", "href":"https://raelynn.hattie.codes/blog"},
        {"name":"Github", "icon":"fab fa-github", "href":"https://github.com/hexaguin/rh-homepage/"}
    ])