include ../card-project
include ../styled-links

+card-project("This Site", "/res/thumb_web.png", "https://raelynn.hattie.codes/blog/2021/12/31/a-new-face-for-my-personal-brand-creating-my-website/")
    p
        | This site is made using 
        +link-inline("https://pugjs.org/", "Pug")
        |  and 
        +link-inline("https://tailwindcss.com/", "Tailwind")
        |. For more information, see the full blog post.
    .grow
    +project-buttons([
        {"name":"Article", "icon":"fas fa-newspaper", "href":"https://raelynn.hattie.codes/blog/2021/12/31/a-new-face-for-my-personal-brand-creating-my-website/"},
        {"name":"Github", "icon":"fab fa-github", "href":"https://github.com/hexaguin/rh-homepage/"}
    ])