include ../card-project
 
+card-project("ESP8266 Weather Station", "/res/thumb_weather_station.jpg", "https://raelynn.hattie.codes/blog/2019/01/28/year-round-weather-station/")
    p A low-cost DIY weather station that can actually survive in Canada.
    .grow
    +project-buttons([
        {"name":"Article", "icon":"fas fa-newspaper", "href":"https://raelynn.hattie.codes/blog/2019/01/28/year-round-weather-station/"}
    ])